/* @font-face {
    font-family: 'Raleway';
    src: url('//fonts/Raleway-Medium.ttf');
  } */
  @font-face {
    font-family: 'Open Sans light';
    src: url('/fonts/OpenSans-Light.ttf');
}


@font-face {
    font-family: 'Open Sans Regular';
    src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans semibold';
    src: url('/fonts/OpenSans-SemiBold.ttf');
}


@font-face {
    font-family: 'Inter light';
    src: url('/fonts/Inter-Ligth.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: 'Inter Medium';
    src: url('/fonts/Inter-Medium.ttf');
    font-weight: medium;
}

@font-face {
    font-family: 'Inter Bold';
    src: url('/fonts/Inter-Bold.ttf');
    font-weight: bold;
}





:root {
    --primary-color:rgba(128, 128, 128, 0.7);
    --primary-text: rgba(0, 0, 0, 0.7);
    --secondary-text: rgba(128, 128, 128, 0.7);
}

body {
    color: var(--primary-text);
    font-family: 'Open Sans light';
}

h1 {

    font-size: 28px;
    color: var(--secondary-text);
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
    font-family: 'Inter medium';
}

/* h4 {
    font-size: 20px;
} */

.color-secondary {
    color: var(--secondary-text);
}

.color-primary {
    color: var(--primary-text);
}

.subtitle-one {
    font-family: 'Open Sans semibold';
    color: var(--secondary-text);
    font-size: 16px;
}

.experience-name{
    font-family:'Inter medium' ;
    font-size: 20px;
}

.container-custom{
    max-width: 800px;
    margin: 0 auto;
}

@media (min-width: 992px){
   .margin-desktop{
    margin: 60px 250px;
}
}